*

!.bash_logout
!.bash_prompt
!.bashrc

!.config
.config/*
!.config/i3
!.config/nvim

!.vim
.vim/*
!.vim/autoload

!.scripts
!.scripts/video-mode-toggle.sh

!.gitignore
!.gitconfig
!README.md

!.gtkrc-2.0
!.i3status.conf
!.vimrc
!.Xresources
!.zshrc

*~
